<div class="section-container container">
	<div class="gdlr-title-item">
		<div class="gdlr-item-title-wrapper gdlr-item pos-left ">
			<div class="gdlr-item-title-head">
				<h3 class="gdlr-item-title gdlr-skin-title gdlr-skin-border gdlr-title-large"><?php echo $post->post_title?></h3>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="gdlr-item gdlr-content-item">
		<?php echo  apply_filters( 'the_content', $post->post_content );?>
	</div>
	<div class="speaker-item-wrapper attendee_list" style="margin-bottom: 40px;">
		<div class="speaker-item-holder gdlr-speaker-type-round">
			<div class="clear"></div>

<?php  	$i =0;
		foreach($users as $index=>$user): 			
			$userTitle = ($user['VendorName'] != "")?$user['VendorName']:$user['DistrictName'];
			if(is_object($userTitle)) $userTitle = null;
			if(strpos($user['email'],'@bcerac.ca') != false) $userTitle="ERAC";
			$i++;
			if($i%6 == 0){
				$stt_condition = 1;
			}
			else{
				$stt_condition = 0;
			}

	//if($_SERVER['REMOTE_ADDR'] == '118.70.98.120') {
	//	echo "<pre>";var_dump($user); 
	//}	
?>
      <div class="two columns">
		<div class="gdlr-item gdlr-speaker-item attendee_item">
			<div class="gdlr-ux gdlr-speaker-item-ux" style="opacity: 1; padding-top: 0px; margin-bottom: 0px;">
				<div class="gdlr-speaker-thumbnail">
					<?php 
						if(isset($user["LocalAvatar"])) {
							if(!empty($user["LocalAvatar"][0])) {
								echo '<img alt="avatar" src="'.$user["LocalAvatar"][0].'" />';
							}else{
								echo '<img alt="avatar" src="'.get_template_directory_uri().'/images/default-avatar.jpg" />';
							}
						}
						else if(!empty($user["Avatar"]) && $user["Avatar"] != " "){
							echo '<img alt="avatar" src="http://bcerac.ca'.$user["Avatar"].'" />';
						}
						else{
							echo '<img alt="avatar" src="'.get_template_directory_uri().'/images/default-avatar.jpg" />';
						}
						//var_dump($user);
						$bio_test_value = $user['Bio'];
					?>
					
				</div>
				<div class="gdlr-speaker-item-content attendee_item_content">
					<h3 class="gdlr-speaker-item-title gdlr-skin-title"><span class="attendee_name"><?php echo $user['FullName'] //$user["first_name"].' '.$user["last_name"]; ?></span></h3>
					<div class="gdlr-speaker-item-position gdlr-info-font gdlr-skin-info district_field"><?php echo $userTitle?></div>
					<ul class="attendee_socials">
						<?php if($user['Facebook'] && $user['Facebook'] != " "): ?>
							<li><a target="_blank" href="<?php echo $user['Facebook']; ?>"><i class="fa fa-facebook"></i></a></li>
						<?php endif ?>
						<?php if($user['Twitter'] && $user['Twitter'] != " "): $twitterURL = str_replace('https://www.twitter.com/', '', $user['Twitter'])?>
							<li><a target="_blank" href="https://www.twitter.com/<?php echo $twitterURL; ?>"><i class="fa fa-twitter"></i></a></li>
						<?php endif ?>
						<?php if($user['Google'] && $user['Google'] != " "): ?>
							<li><a target="_blank" href="<?php echo $user['Google']; ?>"><i class="fa fa-google-plus"></i></a></li>
						<?php endif ?>
						<?php if($user['LinkedIn'] && $user['LinkedIn'] != " "): ?>
							<li><a target="_blank" href="<?php echo $user['LinkedIn']; ?>"><i class="fa fa-linkedin"></i></a></li>
						<?php endif ?>
						<?php if($user['Blog'] && $user['Blog'] != " "): ?>
							<li><a target="_blank" href="<?php echo $user['Blog']; ?>"><i class="fa fa-home"></i></a></li>
						<?php endif ?>						
					</ul>
					<div class="bio_field"><?php if($user['Bio'] && $user["Bio"] != " "): echo do_shortcode('[simple_tooltip content="'.addslashes($bio_test_value).'"]Bio[/simple_tooltip]'); endif; ?></div>
				</div>
			</div>
		</div>
	</div>	
<?php  if ($stt_condition == 1) {
			echo '<div class="clear"></div>';
		}
		endforeach; 
?>
</div></div></div>