/*-- WooCommerce Stylesheet by GoodLayers --*/
html .woocommerce h2 {
font-size: 22px;
}
html .woocommerce h3 {
font-size: 18px;
}
html  .woocommerce-message, html  .woocommerce-error, html  .woocommerce-info {
	-webkit-box-shadow: none;
	box-shadow:  none; 
}
.woocommerce .gdlr-item-start-content{
	padding-top: 20px;
}

html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt ,
html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	padding: 13px 17px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-transform: uppercase;
	border-top: 0;
	border-right: 0;
	border-left: 0;
	text-shadow: none;
	font-weight: bold;
}
html .woocommerce ul.products li.product h3, html .woocommerce-page ul.products li.product h3 {
	font-size: 18px;
	font-weight: lighter;
	padding-top: 5px;
}
html .woocommerce ul.products li.product, html .woocommerce-page ul.products li.product {
	text-align: center;
}
html .woocommerce ul.products li.product .price, html .woocommerce-page ul.products li.product .price {
	font-size: 24px;
	font-weight: 600;
}
.product ins {
	text-decoration: none;
}
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale {
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 10px;
	padding: 5px; 
	line-height: 40px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	min-width: 40px;
}
html .woocommerce ul.products li.product .onsale, html .woocommerce-page ul.products li.product .onsale {
	margin: -18px -18px 0 0;
}

html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover , html .woocommerce-page ul.products li.product a img:hover {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
html .woocommerce ul.products li.product a:hover, html .woocommerce-page ul.products li.product a:hover {
	transition: none;
	-moz-transition: none;
	-o-transition: none;
	-webkit-transition: none;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}
html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {
	font-size: 22px;
	font-weight: bold;
}
html .woocommerce div.product div.images img, html .woocommerce #content div.product div.images img, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
html .woocommerce-result-count, html .woocommerce-page .woocommerce-result-count, html .woocommerce .woocommerce-ordering, html .woocommerce-page .woocommerce-ordering {
	margin-bottom: 45px;
}
html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img {
	margin: 0 0 20px;
}
.woocommerce .tagged_as, .woocommerce .posted_in{ display: block; }
html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty {
	width: 50px;
	height: 49px;
	box-shadow: none;
	-webkit-box-shadow:  none;
	-moz-box-shadow:  none;
	-webkit-border-top-left-radius:  0px;
	-webkit-border-bottom-left-radius:  0px;
	-moz-border-radius-topleft:  0px;
	-moz-border-radius-bottomleft:  0px;
	border-top-left-radius:  0px;
	border-bottom-left-radius: 0px;
}
html .woocommerce .quantity, html .woocommerce #content .quantity, html .woocommerce-page .quantity, html .woocommerce-page #content .quantity {
	width: 73px;
}
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, html .woocommerce-page #content .quantity .minus {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	text-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	height: 26px;
	width: 24px;
	line-height: 12px;
}
html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{
	margin-left: 5px;
	padding: 18px;
	text-shadow: none;
}

html .woocommerce div.product form.cart, html .woocommerce #content div.product form.cart, html .woocommerce-page div.product form.cart, html .woocommerce-page #content div.product form.cart {
	margin: 36px 0px 30px;
}
.product_title.entry-title {
	font-size: 35px;
	font-weight: normal;
	margin-bottom: 13px;
}
html .woocommerce .woocommerce-breadcrumb, html .woocommerce-page .woocommerce-breadcrumb {
	margin-bottom: 22px;
	margin-top: 6px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-bottom: 20px;
}
html .single-product.woocommerce .woocommerce-breadcrumb, html .single-product.woocommerce-page .woocommerce-breadcrumb {
	border-bottom: 0;
	margin-bottom: 3px;
}
html .woocommerce .related ul.products li.product, html .woocommerce .related ul li.product, html .woocommerce .upsells.products ul.products li.product, html .woocommerce .upsells.products ul li.product, html .woocommerce-page .related ul.products li.product, html .woocommerce-page .related ul li.product, html .woocommerce-page .upsells.products ul.products li.product, html .woocommerce-page .upsells.products ul li.product {
	width: 24%;
}
.woocommerce-tabs h2 {
	font-size: 20px;
	margin-top: 35px;
	margin-bottom: 25px;
}
.related.products h2 {
	font-size: 24px;
	font-weight: lighter;
	margin-top: 50px;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs, html .woocommerce #content div.product .woocommerce-tabs ul.tabs, html .woocommerce-page div.product .woocommerce-tabs ul.tabs, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs {
	padding-top: 35px;
	padding-left: 0;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li {
	border: 0;
	display: inline-block;
	position: relative;
	z-index: 0;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	box-shadow: none;
	margin: 0px -2px;
	padding: 8px 20px;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {
	border-bottom-color: transparent;
}
html .woocommerce div.product .woocommerce-tabs ul.tabs li a, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li a, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li a, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li a {
	display: inline-block;
	padding: .5em 0;
	font-weight: bold;
	color: #b0b0b0;
	text-shadow: none;
}
html .woocommerce ul.tabs li:before, 
html .woocommerce ul.tabs li:after {
    display: none;
}
html .woocommerce div.product .woocommerce-tabs .panel, html .woocommerce #content div.product .woocommerce-tabs .panel, html .woocommerce-page div.product .woocommerce-tabs .panel, html .woocommerce-page #content div.product .woocommerce-tabs .panel {
	margin: 0 0 70px;
}
html .woocommerce .products ul, html .woocommerce ul.products, html .woocommerce-page .products ul, html .woocommerce-page ul.products {
	margin-bottom: 40px;
}
html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text {
	padding: 20px;
}
html .woocommerce .add_review {
	padding-left: 50px;
}
html .woocommerce-message, html .woocommerce-error, html .woocommerce-info {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
html .woocommerce-message:before, html .woocommerce-error:before, html .woocommerce-info:before {
	background-color: transparent;
}
html .woocommerce-message:before, html .woocommerce-error:before, html .woocommerce-info:before {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	line-height: 26px;
	text-shadow: none;
	left: 16px;
}
html .woocommerce-message, html .woocommerce-error, html .woocommerce-info {
	padding: 15px 13px 15px 45px;
	margin: 0 0 25px;
	position: relative;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-weight: bold;
	border-top: 0;
	text-shadow: none;
}

html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message  a.button:hover, html .woocommerce-error  a.button:hover, html .woocommerce-info  a.button:hover{
	background: transparent;
	border-bottom: 0px !important;
	padding: 5px 4px;
}
html .woocommerce-info:before {
	font-size: 16px;
	margin-top: -5px;
}
html .woocommerce .products .star-rating, html .woocommerce-page .products .star-rating {
	display: inline-block;
	font-size: 14px;
}
html .woocommerce a.added_to_cart, html .woocommerce-page a.added_to_cart {
	display: block;
	margin-left: 23px;
}
html .woocommerce a.button.added:before, html .woocommerce button.button.added:before, html .woocommerce input.button.added:before, html .woocommerce #respond input#submit.added:before, html .woocommerce #content input.button.added:before, html .woocommerce-page a.button.added:before, html .woocommerce-page button.button.added:before, html .woocommerce-page input.button.added:before, html .woocommerce-page #respond input#submit.added:before, html .woocommerce-page #content input.button.added:before {
	top: 49px;
	right: auto;
	left: 17px;
}
html .woocommerce table.shop_table, html .woocommerce-page table.shop_table {
	border: 0;
}
html .woocommerce table.shop_table th, html .woocommerce-page table.shop_table th {
	padding: 15px 12px;
	font-size: 15px;
}
html .woocommerce table.shop_table td, html .woocommerce-page table.shop_table td {
	border-top: 0px;
}
html .woocommerce .shop_table .quantity.buttons_added{
	margin: 0;
}
html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	font-weight: normal;
}
html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover, html .woocommerce-page #content table.cart a.remove:hover {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding: 5px;
	font-weight: normal;
}
html .woocommerce table.cart img, html .woocommerce #content table.cart img, html .woocommerce-page table.cart img, html .woocommerce-page #content table.cart img {
	width: 66px;
}
html .woocommerce table.shop_table td, html .woocommerce-page table.shop_table td {
	padding: 12px 12px;
}

html .woocommerce table.cart td.actions .coupon .input-text, html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text, html .woocommerce-page #content table.cart td.actions .coupon .input-text {
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	padding: 6px 6px 5px;
	margin: 0 11px 0 0;
	outline: 0;
	line-height: 27px;
}
html .woocommerce table.cart td.actions .button.alt, html .woocommerce #content table.cart td.actions .button.alt, html .woocommerce-page table.cart td.actions .button.alt, html .woocommerce-page #content table.cart td.actions .button.alt {
	margin-left: 10px;
}
html .woocommerce .cart-collaterals .shipping_calculator, html .woocommerce-page .cart-collaterals .shipping_calculator {
	display: inline-block;
}
html .woocommerce .cart-collaterals .cart_totals, html .woocommerce-page .cart-collaterals .cart_totals {
	display: inline-block;
	float: left;
}

html .woocommerce .cart-collaterals .cart_totals h2, html .woocommerce-page .cart-collaterals .cart_totals h2{
	font-size: 15px;
	float: left;
}
html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th, html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th {
	border-top: 0;
	padding: 12px;
}
html .woocommerce .cart-collaterals .cart_totals tr.shipping th, html .woocommerce-page .cart-collaterals .cart_totals tr.shipping th {
	font-size: 14px;
}
html .woocommerce .cart-collaterals .shipping_calculator h2, html .woocommerce-page .cart-collaterals .shipping_calculator h2 {
	font-size: 15px;
}
html .woocommerce .cart-collaterals .shipping_calculator, html .woocommerce-page .cart-collaterals .shipping_calculator {
	margin-top: 0;
}

html .woocommerce table.shop_table, html .woocommerce-page table.shop_table {
	margin: 0px -1px 45px 0px;
}
html .woocommerce .cart-collaterals, html .woocommerce-page .cart-collaterals {
	margin-bottom: 50px;
}
html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea {
	padding: 15px;
}
html .woocommerce form .form-row select, html .woocommerce-page form .form-row select {
	height: 30px;
}
html .woocommerce form .form-row, html .woocommerce-page form .form-row {
	padding: 0px;
	margin: 0 0 12px;
}
html .woocommerce .woocommerce-ordering select, html .woocommerce-page .woocommerce-ordering select {
	height: 30px;
}
html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row textarea {
	height: 47px;
}
html .woocommerce .checkout h3 { 
	font-size: 20px; 
	margin: 20px 0px 30px; 
}
html .woocommerce table.shop_table tfoot tr.total td, html .woocommerce table.shop_table tfoot tr.total th, html .woocommerce-page table.shop_table tfoot tr.total td, html .woocommerce-page table.shop_table tfoot tr.total th {
	border-bottom: 0;
}
html .woocommerce .col2-set, html .woocommerce-page .col2-set {
	margin-bottom: 40px;
}
html .woocommerce #payment, html .woocommerce-page #payment {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	padding: 15px 15px 2px 15px;
}
html .woocommerce #payment div.payment_box:after, html .woocommerce-page #payment div.payment_box:after {
	display: none;
}
html #payment div.payment_box, html .woocommerce-page #payment div.payment_box {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	text-shadow: none;
}
html .woocommerce #payment ul.payment_methods, html .woocommerce-page #payment ul.payment_methods {
	border-bottom: 0;
}
html .woocommerce #payment div.form-row, html .woocommerce-page #payment div.form-row {
	border-top: 0;
}
html .woocommerce table.shop_table tfoot tr:last-child td, html .woocommerce table.shop_table tfoot tr:last-child th, html .woocommerce-page table.shop_table tfoot tr:last-child td, html .woocommerce-page table.shop_table tfoot tr:last-child th{
	border-bottom: 0;
}
html .woocommerce .customer_details {
	margin-bottom: 45px;
	padding: 20px;
}
html .woocommerce ul.order_details {
	padding: 20px;
}
html .woocommerce .order_details.bacs_details, html .woocommerce-page .order_details.bacs_details {
	margin: 0 0 40px;
}
html .woocommerce .order_details, html .woocommerce-page .order_details {
	margin: 0 0 20px;
}
html .woocommerce form .form-row-first, html .woocommerce form .form-row-last, html .woocommerce-page form .form-row-first, html .woocommerce-page form .form-row-last {
	width: 48%;
}
html .woocommerce .lost_password, html .woocommerce-page .lost_password {
	margin-left: 15px;
}
html .woocommerce .checkout_coupon .form-row.form-row-first, html .woocommerce-page .checkout_coupon .form-row.form-row-first, html .woocommerce .checkout_coupon .form-row.form-row-last, html .woocommerce-page .checkout_coupon .form-row.form-row-last{
	margin-bottom: 0;
}
.woocommerce .gdlr-item-start-content.sidebar-right-item, .woocommerce-page .gdlr-item-start-content.sidebar-right-item, .woocommerce .gdlr-item-start-content.sidebar-left-item, .woocommerce-page .gdlr-item-start-content.sidebar-left-item  {
	padding-top: 60px;
}
html .woocommerce .gdlr-sidebar h3.gdlr-widget-title, html .woocommerce-page .gdlr-sidebar h3.gdlr-widget-title { font-size: 14px; }
html .woocommerce .woocommerce-content h1.page-title, html .woocommerce-page .woocommerce-content h1.page-title{ display: none; }
html .woocommerce-result-count {
	display: none;
}
html .woocommerce .woocommerce-ordering, html .woocommerce-page .woocommerce-ordering {
	margin: 0 0 22px;
	float: left;
}
html .woocommerce ul.cart_list li img, html .woocommerce ul.product_list_widget li img, html .woocommerce-page ul.cart_list li img, html .woocommerce-page ul.product_list_widget li img {
	width: 65px;
	float: left;
	margin-left: 0;
	margin-right: 18px;
}
html .woocommerce ul.cart_list li, html .woocommerce ul.product_list_widget li, html .woocommerce-page ul.cart_list li, html .woocommerce-page ul.product_list_widget li {
	padding: 15px 0;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}
html .woocommerce ul.cart_list li a, html .woocommerce ul.product_list_widget li a, html .woocommerce-page ul.cart_list li a, html .woocommerce-page ul.product_list_widget li a {
	font-size: 14px;
}
html .woocommerce ul.cart_list li del .amount, html .woocommerce ul.product_list_widget li del .amount, html .woocommerce-page ul.cart_list li del .amount, html .woocommerce-page ul.product_list_widget li del .amount {
	margin-top: 0px;
	font-size: 11px;
	font-weight: normal;
}
html .woocommerce ul.cart_list li ins .amount, html .woocommerce ul.product_list_widget li ins .amount, html .woocommerce-page ul.cart_list li ins .amount, html .woocommerce-page ul.product_list_widget li ins .amount {
	margin-left: 5px;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.1;
	font-weight: bold;
	margin-top: 4px;
}
html .woocommerce ul.cart_list li .amount, html .woocommerce ul.product_list_widget li .amount, html .woocommerce-page ul.cart_list li .amount, html .woocommerce-page ul.product_list_widget li .amount {
	font-size: 14px;
	font-weight: bold;
}


/*-- Filter --*/
html .woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content, html .woocommerce-page .widget_price_filter .price_slider_wrapper .ui-widget-content {
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
background: #f3f3f3;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-range, html .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
background: #f1f1f1;
box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
-webkit-box-shadow: inset 0 0 0 1px rgba(204, 204, 204, 0.5);
-moz-box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
}

html .woocommerce .widget_price_filter .ui-slider-horizontal .ui-slider-range, html .woocommerce-page .widget_price_filter .ui-slider-horizontal .ui-slider-range {
top: 0;
height: 100%;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-range, html .woocommerce-page .widget_price_filter .ui-slider .ui-slider-range {
position: absolute;
z-index: 1;
font-size: .7em;
display: block;
border: 0;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, html .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
position: absolute;
z-index: 2;
width: 1em;
height: 1em;
-webkit-border-radius: 1em;
-moz-border-radius: 1em;
border-radius: 1em;
border: 1px solid #522100;
cursor: pointer;
background: #ff9852;
background: -webkit-gradient(linear,left top,left bottom,from(#ff9852),to(#ff7a1f));
background: -webkit-linear-gradient(#ff9852,#ff7a1f);
background: -moz-linear-gradient(center top,#ff9852 0%,#ff7a1f 100%);
background: -moz-gradient(center top,#ff9852 0%,#ff7a1f 100%);
outline: none;
top: -.3em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);
box-shadow: 0 1px 2px rgba(0,0,0,0.3), inset 0 0 0 1px rgba(255,255,255,0.65);
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle, html .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle {
border: 1px solid #cecece;
background: #e4e4e4;
box-shadow: none;
}
html .woocommerce .widget_price_filter .ui-slider .ui-slider-handle:last-child, html .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle:last-child {
margin-left: -1em;
}
html .woocommerce .widget_price_filter .price_slider_amount, html .woocommerce-page .widget_price_filter .price_slider_amount{
text-align: right;
line-height: 2.4em;
font-size: 0.8751em;
}
html .woocommerce .widget_price_filter .price_slider_amount .price_label, html .woocommerce-page .widget_price_filter .price_slider_amount .price_label{
font-size: 12px;
font-weight: bold;
margin-top: 8px;
display: block;
float: right;
}
html .woocommerce .ui-widget-content { border: 0; } 
html .woocommerce .widget_price_filter .ui-slider-horizontal, html .woocommerce-page .widget_price_filter .ui-slider-horizontal {
height: .6em;
}
html .woocommerce .widget_price_filter .price_slider, html .woocommerce-page .widget_price_filter .price_slider {
margin-bottom: 1.9em;
}
html .woocommerce .with-sidebar-content ul.products li.product.gdlr-1-product-per-row{ width: 99%; }
html .woocommerce .with-sidebar-content ul.products li.product.gdlr-2-product-per-row{ width: 48%; }
html .woocommerce .with-sidebar-content ul.products li.product.gdlr-3-product-per-row{ width: 29.5%; }
html .woocommerce .with-sidebar-content ul.products li.product.gdlr-4-product-per-row{ width: 22%; }
html .woocommerce .with-sidebar-content ul.products li.product.gdlr-5-product-per-row{ width: 16.5%; }

/*-- End Filter --*/
html .woocommerce .gdlr-widget.widget_product_search input[type="text"], html .woocommerce .gdlr-widget.widget_product_search input[type="email"], html .woocommerce .gdlr-widget.widget_product_search input[type="password"]{ width: 57%;
padding: 15px; }
html .woocommerce .gdlr-widget.widget_product_search input[type="submit"]{ padding: 13px 17px; margin-bottom: 0; }
html .woocommerce .gdlr-widget.widget_product_search .screen-reader-text { display: none; }
.woocommerce ul.product-categories li:before, .woocommerce-page ul.product-categories li:before{
content: "\f105";
font-family: FontAwesome;
text-align: center;
position: absolute;
left: 0px;
display: block;
height: 20px;
width: 20px;
border-style: solid;
border-width: 1px;
margin-top: -1px;
-moz-border-radius: 11px;
-webkit-border-radius: 11px;
border-radius: 11px;
}
.woocommerce ul.product-categories li, .woocommerce-page ul.product-categories li{
margin-bottom: 12px;
padding-left: 30px;
line-height: 20px;
padding-bottom: 12px;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.woocommerce ul.product-categories, .woocommerce-page ul.product-categories {
list-style: none;
margin-left: 0;
position: relative;
}
html .woocommerce .star-rating, html .woocommerce-page .star-rating{
margin: 5px 0px 5px;
}
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total {
padding: 7px 12px;
font-weight: bold;
margin-top: 10px;
}
html .woocommerce ul.cart_list li:last-child, html .woocommerce-page ul.cart_list li:last-child{
border-bottom-width: 0px;
}
html .woocommerce .widget_shopping_cart .widget_shopping_cart_content .buttons a:first-child, html .woocommerce-page .widget_shopping_cart .widget_shopping_cart_content .buttons a:first-child{
margin-right: 5px;
}
html .woocommerce nav.woocommerce-pagination ul, html .woocommerce #content nav.woocommerce-pagination ul, html .woocommerce-page nav.woocommerce-pagination ul, html .woocommerce-page #content nav.woocommerce-pagination ul {
border: 0;
}
hmtl .woocommerce nav.woocommerce-pagination ul li, html .woocommerce #content nav.woocommerce-pagination ul li, html .woocommerce-page nav.woocommerce-pagination ul li, html .woocommerce-page #content nav.woocommerce-pagination ul li {
border-right: 0;
}
html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{
margin-right: 4px;
padding: 9px 7px;
}
html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a{
margin-right: 4px;
padding: 9px 7px;
}
html .woocommerce nav.woocommerce-pagination, html .woocommerce #content nav.woocommerce-pagination, html .woocommerce-page nav.woocommerce-pagination, html .woocommerce-page #content nav.woocommerce-pagination {
text-align: center;
margin-bottom: 40px;
margin-top: -20px;
display: inline-block;
float: right;
}

html .woocommerce .with-sidebar-content ul.products li.product, html .woocommerce-page .with-sidebar-content ul.products li.product {
width: 29.5%;
}
html .woocommerce ul.products li.product, html .woocommerce-page ul.products li.product {
margin-top: 25px;
}
html .woocommerce-info a.showcoupon{ 
margin-left: 15px;
}
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th, html .woocommerce-page table.shop_attributes .alt th  {
	background: transparent;
}

/*-- WooCommerce Responsive --*/
/*--- mobile landscape style ---*/
@media only screen and (max-width: 767px) {
html .woocommerce div.product div.images, html .woocommerce #content div.product div.images, html .woocommerce-page div.product div.images, html .woocommerce-page #content div.product div.images {
width: 100%;
}
html .woocommerce div.product div.summary, html .woocommerce #content div.product div.summary, html .woocommerce-page div.product div.summary, html .woocommerce-page #content div.product div.summary {
width: 100%;
}
html .woocommerce table.shop_table .product-price , html .woocommerce-page table.shop_table .product-quantity{
display: none;
}
html .woocommerce .cart-collaterals .cart_totals, html .woocommerce-page .cart-collaterals .cart_totals {
width: 100%;
margin-bottom: 30px;
}
html .woocommerce .cart-collaterals .shipping_calculator, html .woocommerce-page .cart-collaterals .shipping_calculator {
width: 100%;
}
html .woocommerce table.cart td.actions .button.alt, html .woocommerce #content table.cart td.actions .button.alt, html .woocommerce-page table.cart td.actions .button.alt, html .woocommerce-page #content table.cart td.actions .button.alt {
margin-top: 10px;
}

html .woocommerce .col2-set .col-1, html .woocommerce-page .col2-set .col-1 {
width: 100%;
}

html .woocommerce .col2-set .col-2, html .woocommerce-page .col2-set .col-2 {
width: 100%;
}

html .woocommerce .order_details li, html .woocommerce-page .order_details li {
border-right: 0px;
width: 100%;
padding: 10px 5px;
}
}
/*--- mobile portrait style ---*/
@media only screen and (max-width: 419px) {
html .woocommerce table.cart td.actions .coupon, html .woocommerce #content table.cart td.actions .coupon, html .woocommerce-page table.cart td.actions .coupon, html .woocommerce-page #content table.cart td.actions .coupon {
float: right;
margin-bottom: 10px;
}
}