html.ltie9 body, body{ min-width: 1140px; } .container{ max-width: 1140px; } .gdlr-caption-wrapper .gdlr-caption-inner{ max-width: 1140px; }
.body-wrapper.gdlr-boxed-style{ max-width: 1220px; overflow: hidden; } .body-wrapper.gdlr-boxed-style .gdlr-header-wrapper{ max-width: 1220px; margin: 0px auto; }
.gdlr-logo{ max-width: 200px; }
.gdlr-logo{ margin-top: 20px; }
.gdlr-logo{ margin-bottom: 20px; }
.gdlr-navigation-wrapper{ margin-top: 50px; }.gdlr-menu-search-button-sep, #gdlr-menu-search-button{ top: 50px; }
.gdlr-page-title-wrapper { background-image: url('http://it4k12-2016.bcerac.ca/wp-content/uploads/2015/02/it4k12-attendee.jpg'); }
body.single .gdlr-page-title-wrapper { background-image: url('http://it4k12-2016.bcerac.ca/wp-content/uploads/2015/02/it4k12-attendees.jpg'); }
h1, h2, h3, h4, h5, h6{ font-family: "Montserrat"; }
body, input, textarea, select{ font-family: "Montserrat"; }
.gdlr-info-font, ul.gdlr-twitter-widget .gdlr-twitter-time, .gdlr-page-caption{ font-family: "Droid Serif"; }
.gdlr-navigation{ font-family: "Raleway"; }
.gdlr-slider-item{ font-family: "Raleway"; }
body{ font-size: 13px; }
h1{ font-size: 30px; }
h2{ font-size: 25px; }
h3{ font-size: 20px; }
h4{ font-size: 18px; }
h5{ font-size: 16px; }
h6{ font-size: 15px; }
.top-navigation-wrapper{ color: #ffffff; }
.top-navigation-wrapper a{ color: #f3f3f3; }
.top-navigation-wrapper{ background-color: #ffffff; }
.gdlr-header-inner{ background-color: #ffffff; }
.gdlr-main-menu > li > a{ color: #8e8e8e; }
.gdlr-main-menu > li:hover > a, .gdlr-main-menu > li.current-menu-item > a, .gdlr-main-menu > li.current-menu-ancestor > a{ color: #a7cf39; opacity: 1; filter: alpha(opacity=100); } .gdlr-navigation-gimmick{ background-color: #a7cf39; }
.gdlr-menu-search{ background: #424242; background: rgba(66, 66, 66, 0.8); }
#gdlr-menu-search input[type="text"]{ color: #ffffff; }
.gdlr-fixed-header .gdlr-header-inner{ background-color: #f5f5f5; }
.gdlr-main-menu > .gdlr-normal-menu .sub-menu, .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ border-top-color: #a7cf39; }
.gdlr-main-menu > .gdlr-normal-menu li , .gdlr-main-menu > .gdlr-mega-menu .sf-mega{ background-color: #a7cf39; }
.gdlr-main-menu > li > .sub-menu a, .gdlr-main-menu > li > .sf-mega a{ color: #ffffff; }
.gdlr-main-menu > li > .sub-menu a:hover, .gdlr-main-menu > li > .sub-menu .current-menu-item > a, .gdlr-main-menu > li > .sub-menu .current-menu-ancestor > a, .gdlr-main-menu > li > .sf-mega a:hover, .gdlr-main-menu > li > .sf-mega .current-menu-item > a, .gdlr-main-menu > li > .sf-mega .current-menu-ancestor > a{ color: #ffffff; } .gdlr-main-menu .gdlr-normal-menu li > a.sf-with-ul:after { border-left-color: #ffffff; } 
.gdlr-main-menu .sf-mega-section-inner > ul > li > a:hover, .gdlr-main-menu .sf-mega-section-inner > ul > li.current-menu-item > a { background-color: #2a2a2a; } 
.gdlr-main-menu > li > .sub-menu *, .gdlr-main-menu > li > .sf-mega *{ border-color: #a7cf39; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a { color: #ffffff; }
.gdlr-main-menu > li > .sf-mega .sf-mega-section-inner > a:hover, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-item > a, .gdlr-main-menu > li > .sf-mega .sf-mega-section-inner.current-menu-ancestor > a { color: #ffffff; }
#gdlr-responsive-navigation.dl-menuwrapper button { background-color: #353535; }
#gdlr-responsive-navigation.dl-menuwrapper button:hover, #gdlr-responsive-navigation.dl-menuwrapper button.dl-active, #gdlr-responsive-navigation.dl-menuwrapper ul{ background-color: #0a0a0a; }
body{ background-color: #dddddd; }
.body-wrapper, .gdlr-single-lightbox-container{ background-color: #ffffff; }
.gdlr-page-title, .gdlr-page-title-gimmick{ color: #ffffff; }
.gdlr-page-caption{ color: #ffffff; }
h1, h2, h3, h4, h5, h6, .gdlr-title, .gdlr-title a{ color: #454545; }
.gdlr-item-title-wrapper .gdlr-item-title{ color: #292929; border-color: #292929; }
.gdlr-item-title-divider{ border-color: #333333; }
.gdlr-item-title-wrapper .gdlr-item-caption{ color: #9b9b9b; }
body{ color: #8b8b8b; }
a{ color: #1ca4c9; }.single-session .gdlr-session-info .session-info.session-document a, .single-session .gdlr-session-info .session-info.session-document i{ color: #1ca4c9; }
a:hover{ color: #1ca4c9; }
body *{ border-color: #dddddd; }
.page-not-found-block{ background-color: #1ca4c9; }
.page-not-found-block{ color: #ffffff; }
.page-not-found-search  .gdl-search-form input[type="text"]{ background-color: #1ca4c9; }
.page-not-found-search  .gdl-search-form input[type="text"]{ color: #1ca4c9; }
.gdlr-sidebar .gdlr-widget-title{ color: #383838; }
.gdlr-sidebar *{ border-color: #eeeeee; }
.gdlr-sidebar ul li:before { border-color: #bdbdbd; }
.gdl-search-form input{ background-color: #f7f7f7; }
.gdl-search-form input{ color: #9d9d9d; }
.gdl-search-form input{ border-color: #ebebeb; }
.tagcloud a{ background-color: #f3f3f3; }
.tagcloud a, .tagcloud a:hover{ color: #b2b2b2; }
ul.gdlr-twitter-widget li:before{ color: #47bdee; }
ul.gdlr-twitter-widget li .gdlr-twitter-time{ color: #b1b1b1; }
.gdlr-accordion-item.style-1 .pre-active .accordion-title{ color: #3c3c3c; }
.gdlr-accordion-item.style-1 .accordion-title{ color: #8d8d8d; }
.gdlr-accordion-item.style-1 .accordion-title i{ background-color: #f3f3f3; }
.gdlr-accordion-item.style-1 .accordion-title i{ color: #a8a8a8; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ background-color: ##f62b0a; }
.gdlr-accordion-item.style-1 .accordion-title i.icon-minus{ color: #ffffff; }
.gdlr-banner-item-wrapper .flex-direction-nav .flex-prev, .gdlr-banner-item-wrapper .flex-direction-nav .flex-next{ color: #999999; }
.gdlr-box-with-icon-item{ background-color: #f5f5f5; }
.gdlr-box-with-icon-item > i, .gdlr-box-with-icon-item .box-with-icon-title{ color: #585858; }
.gdlr-box-with-icon-item{ color: #929292; }
.gdlr-button, .gdlr-button:hover, input[type="button"], input[type="submit"], .gdlr-top-menu > .gdlr-mega-menu .sf-mega a.gdlr-button{ color: #ffffff; }
.gdlr-button, input[type="button"], input[type="submit"]{ background-color: #9ec63b; }
.gdlr-button.with-border{ border-color: #9ec63b; }
.column-service-title{ color: #333333; }
.column-service-content{ color: #909090; }
.column-service-icon i{ color: #bababa; }
.gdlr-column-service-item.gdlr-type-2 .column-service-icon{ background-color: #3e3e3e; }
.list-with-icon .list-with-icon-title{ color: #333333; }
.gdlr-pie-chart-item .pie-chart-title{ color: #313131; }
.gdlr-price-inner-item{ background-color: #f9f9f9; }
.gdlr-price-item .price-title-wrapper{ background-color: #454545; }
.gdlr-price-item .price-title{ color: #ffffff; }
.gdlr-price-item .price-tag{ background-color: #838383; }
.gdlr-price-item .best-price .price-tag{ background-color: #f2381a; }
.gdlr-price-item .price-tag{ color: #ffffff; }
.gdlr-process-tab .gdlr-process-icon{ background-color: #f3f3f3; }
.gdlr-process-tab .gdlr-process-icon{ border-color: #e3e3e3; }
.gdlr-process-tab .gdlr-process-icon i{ color: #aaaaaa; }
.gdlr-process-tab .process-line .process-line-divider{ border-color: #e3e3e3; } .gdlr-process-tab .process-line .icon-chevron-down, .gdlr-process-tab .process-line .icon-chevron-right{ color: #e3e3e3; }
.gdlr-process-wrapper .gdlr-process-tab .gdlr-process-title{ color: #454545; }
.gdlr-skill-item-wrapper{ color: #3a3a3a; }
.stunning-text-title{ color: #414141; }
.stunning-text-caption{ color: #949494; }
.gdlr-stunning-text-item.with-padding{ background-color: #f3f3f3; }
.gdlr-stunning-text-item.with-border{ border-color: #f3f3f3; }
.tab-title-wrapper .tab-title{ background-color: #f9f9f9; }
.tab-title-wrapper .tab-title{ color: #3b3b3b; }
.tab-title-wrapper .tab-title.active, .tab-content-wrapper{ background-color: #ffffff; }
table tr th{ background-color: #a7cf39; }
table tr th{ color: #ffffff; }
table.style-2 tr:nth-child(odd){ background-color: #f9f9f9; }
table.style-2 tr:nth-child(odd){ color: #949494; }
table.style-2 tr:nth-child(even){ background-color: #f3f3f3; }
table.style-2 tr:nth-child(even){ color: #949494; }
.gdlr-blog-title, .gdlr-blog-title a{ color: #323232; }
.gdlr-blog-title a:hover{ color: #323232; }
.gdlr-blog-full .post-header-bottom-gimmick{ border-color: #abd138; }.gdlr-blog-date-wrapper{ color: #abd138; }
.blog-info, .blog-info a, .blog-info i{ color: #a3a3a3; }
.gdlr-blog-thumbnail .gdlr-sticky-banner{ background-color: #232323; }
.gdlr-blog-thumbnail .gdlr-sticky-banner, .gdlr-blog-thumbnail .gdlr-sticky-banner i{ color: #ffffff; }
.gdlr-social-share, .gdlr-social-share a{ background-color: #f3f3f3; }
.gdlr-social-share .social-share-title{ color: #353535; }
.gdlr-standard-style .gdlr-single-blog-tag a{ background-color: #abd138; }
.gdlr-standard-style .gdlr-single-blog-tag a{ color: #ffffff; }
.gdlr-blog-widget .blog-date-wrapper{ background-color: #eeeeee; }
.gdlr-blog-widget .blog-date-wrapper{ color: #222222; }
.format-aside .gdlr-blog-content{ background-color: #f2381a; }
.format-aside .gdlr-blog-content{ color: #ffffff; }
.format-quote .gdlr-top-quote blockquote{ color: #8d8d8d; }
.format-quote .gdlr-quote-author{ color: #f2381a; }
.gdlr-single-nav > div i{ background-color: #f3f3f3; }
.gdlr-single-nav > div i{ color: #8d8d8d; }
.gdlr-outer-nav.gdlr-nav-container span{ background-color: #ffffff; }
.gdlr-outer-nav.gdlr-nav-container span i{ color: #c0c0c0; }
.gdlr-outer-nav.gdlr-nav-container span:hover{ background-color: #abd138; }
.gdlr-outer-nav.gdlr-nav-container span:hover i{ color: #ffffff; }
.portfolio-item-filter a{ background-color: #f0f0f0; } 
.portfolio-item-filter a{ color: #ababab; }
.portfolio-item-filter a:hover, .portfolio-item-filter a.active{ background-color: #abd138; } 
.portfolio-item-filter a:hover, .portfolio-item-filter a.active{ color: #ffffff; }
.gdlr-image-link-shortcode .gdlr-image-link-overlay, .portfolio-thumbnail .portfolio-overlay{ background-color: #abd138; }
.gdlr-image-link-shortcode .gdlr-image-link-icon, .portfolio-thumbnail .portfolio-icon i{ color: #ffffff; }
.portfolio-title a{ color: #303030; }
.portfolio-title a:hover{ color: #7f7f7f; }
.portfolio-info, .portfolio-info a{ color: #a2a2a2; }
.portfolio-item-holder .gdlr-modern-portfolio .portfolio-info, .portfolio-item-holder .gdlr-modern-portfolio .portfolio-info a{ color: #9f9f9f; }
.gdlr-pagination .page-numbers{ background-color: #ebebeb; }
.gdlr-pagination .page-numbers{ color: #979797; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ background-color: #abd138; }
.gdlr-pagination .page-numbers:hover, .gdlr-pagination .page-numbers.current{ color: #ffffff; }
.gdlr-personnel-item .personnel-item-inner{ background-color: #f5f5f5; }
.gdlr-personnel-item.round-style .personnel-item{ background-color: #abd138; }
.gdlr-personnel-item .personnel-author{ color: #3b3b3b; }
.gdlr-personnel-item .personnel-author-image{ border-color: #abd138; }
.gdlr-personnel-item .personnel-position{ color: #acacac; }
.gdlr-personnel-item .personnel-content{ color: #959595; }
.gdlr-personnel-item .personnel-social i{ color: #3b3b3b; }
.gdlr-testimonial-item .testimonial-item-inner, .gdlr-testimonial-item .testimonial-author-image{ background-color: #f5f5f5; }
.gdlr-testimonial-item .testimonial-content{ color: #9b9b9b; }
.gdlr-testimonial-item .testimonial-author{ color: #0a0000; }
.gdlr-testimonial-item .testimonial-position{ color: #4d4d4d; }
.gdlr-testimonial-item .testimonial-author-image{ border-color: #abd138; }
.gdlr-testimonial-item.box-style .testimonial-item-inner:after{ border-top-color: #dddddd; border-left-color: #dddddd; }
.gdlr-speaker-thumbnail-overlay{ background-color: #abd138; }
.gdlr-speaker-item .gdlr-speaker-thumbnail-overlay-icon a{ color: #ffffff; }
.gdlr-speaker-item .gdlr-speaker-item-title a{ color: #9ec63b; }
.gdlr-speaker-item .gdlr-speaker-item-position{ color: #707070; }
.single-speaker .gdlr-speaker-info-inner, .single-speaker .gdlr-speaker-info-inner a, .single-speaker .gdlr-speaker-info-inner .gdlr-speaker-name{ color: #ffffff; }
.single-speaker .gdlr-speaker-info-inner { background-color: #9ec63b; }
.single-speaker .gdlr-speaker-info-inner { border-bottom-color: #6ca530; }
.single-speaker .gdlr-speaker-session-item{ background-color: #f2f2f2; }
.single-speaker .gdlr-speaker-session-item{ border-bottom-color: #dfdfdf; }
.single-speaker .speaker-session-item-title a{ color: #ffffff; }
.single-speaker .speaker-session-item-title{ background-color: #424242; }
.gdlr-ticket-item .gdlr-ticket-head{ background-color: #e9e9e9; }
.gdlr-ticket-item .gdlr-ticket-head-title{ color: #363636; }
.gdlr-ticket-item .gdlr-ticket-head-price{ color: #abd138; }
.gdlr-ticket-item .gdlr-ticket-content{ background-color: #f9f9f9; }
.gdlr-ticket-item .gdlr-ticket-content{ color: #8b8b8b; }
.gdlr-ticket-item .gdlr-ticket-button { background-color: #abd138; }
.gdlr-ticket-item .gdlr-ticket-button { color: #ffffff; }
.gdlr-ticket-item .gdlr-ticket-head-featured{ background-color: #abd138; }
.gdlr-ticket-item .gdlr-ticket-head-featured{ color: #fff; }
.gdlr-paypal-form-head span{ color: #abd138; }
.gdlr-paypal-form-wrapper input[type="button"].gdlr-button-paypal{ background-color: #0a84f6; }
.gdlr-paypal-form-wrapper input[type="button"].gdlr-button-paypal{ border-bottom-color: #186ab7; }
.single-session .gdlr-session-info .session-info, .single-session .gdlr-session-info .session-info a{ color: #a3a3a3; }
.single-session .gdlr-session-info .session-info i{ color: #a3a3a3; }
.gdlr-session-item .gdlr-session-item-head{ background-color: #a7cf39; }
.gdlr-session-item .gdlr-session-item-head-info.gdlr-active{ background-color: #73aa2a; }.gdlr-session-item .gdlr-session-item-head-info { border-color: #73aa2a; }
.gdlr-session-item .gdlr-session-item-head{ color: #ffffff; }
.gdlr-session-item-content-wrapper{ background-color: #f7f7f7; }
.gdlr-session-item .gdlr-session-item-title a{ color: #515151; }
.gdlr-session-item .gdlr-session-item-divider{ border-bottom-color: #e5e5e5; }
.gdlr-session-item .gdlr-session-break-title{ color: #373737; }
.gdlr-session-item .session-break-info{ color: #373737; }
.gdlr-accommodation-item{ background-color: #f2f2f2; }
.gdlr-accommodation-item .accommodation-rating{ color: #f6290e; }
.gdlr-accommodation-item .accommodation-rating{ background-color: #f6290e; }
.gdlr-gallery-thumbnail .gallery-item{ background-color: #e5e5e5; }
.gdlr-gallery-thumbnail-container .gallery-caption{ background-color: #000000; }
.gdlr-gallery-thumbnail-container .gallery-caption{ color: #ffffff; }
.nivo-controlNav a, .flex-control-paging li a{ background-color: #cecece; }
.nivo-controlNav a:hover, .nivo-controlNav a.active, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active { background-color: #949494; }
.nivo-controlNav a, .flex-control-paging li a{ border-color: #ffffff !important; }
.nivo-directionNav a, .flex-direction-nav a, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ background-color: #000000; }
body .nivo-directionNav a, body .flex-direction-nav a, body .flex-direction-nav a:hover, .ls-flawless .ls-nav-prev, .ls-flawless .ls-nav-next{ color: #ffffff; }
.gdlr-caption{ background-color: #000000; }
.gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-text{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider{ background-color: #000000; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-title{ color: #ffffff; }
.gdlr-caption-wrapper.post-slider .gdlr-caption-text{ color: #dddddd; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ color: #ffffff; }
.gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-caption-date, .gdlr-post-slider-item.style-no-excerpt .gdlr-caption-wrapper .gdlr-title-link{ background-color: #abd138; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ background-color: #abd138; }
.gdlr-item-title-wrapper .gdlr-flex-prev, .gdlr-item-title-wrapper .gdlr-flex-next{ color: #ffffff; }
input[type="text"], input[type="email"], input[type="password"], textarea{ background-color: #f4f4f4; }
input[type="text"], input[type="email"], input[type="password"], textarea{ color: #b5b5b5; }input::input-placeholder{ color:#b5b5b5; } input::-webkit-input-placeholder{ color:#b5b5b5; }input::-moz-placeholder{ color:#b5b5b5; } input:-moz-placeholder{ color:#b5b5b5; }input:-ms-input-placeholder{ color:#b5b5b5; }textarea::input-placeholder{ color:#b5b5b5; } textarea::-webkit-input-placeholder{ color:#b5b5b5; }textarea::-moz-placeholder{ color:#b5b5b5; } textarea:-moz-placeholder{ color:#b5b5b5; }textarea:-ms-input-placeholder{ color:#b5b5b5; }
.footer-wrapper{ background-color: #212121; }
.footer-wrapper .gdlr-widget-title, .footer-wrapper .gdlr-widget-title a{ color: #dddddd; }
.footer-wrapper{ color: #bfbfbf; }
.footer-wrapper a{ color: #7f7f7f; }
.footer-wrapper a:hover{ color: #cecece; }
.footer-wrapper *{ border-color: #363636; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ background-color: #141414; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ color: #828282; }
.footer-wrapper input[type="text"], .footer-wrapper input[type="email"], .footer-wrapper input[type="password"], .footer-wrapper textarea{ border-color: #313131; }
.footer-wrapper .gdlr-button, .footer-wrapper .gdlr-button:hover, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ color: #ffffff; }
.footer-wrapper .gdlr-button, .footer-wrapper input[type="button"], .footer-wrapper input[type="submit"]{ background-color: #f2381a; }
.footer-wrapper .tagcloud a{ background-color: #f2381a; }
.footer-wrapper .tagcloud a, .footer-wrapper .tagcloud a:hover{ color: #ffffff; }
.copyright-wrapper{ background-color: #161616; }
.copyright-wrapper{ color: #5b5b5b; }
.footer-wrapper .copyright-wrapper{ border-color: #161616; }
html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce-message,html .woocommerce div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active {  background: #f2381a; }html .woocommerce .star-rating, html .woocommerce-page .star-rating, html .woocommerce .star-rating:before, html .woocommerce-page .star-rating:before, html .woocommerce div.product span.price, html .woocommerce div.product p.price, html .woocommerce #content div.product span.price, html .woocommerce #content div.product p.price, html .woocommerce-page div.product span.price, html .woocommerce-page div.product p.price, html .woocommerce-page #content div.product span.price, html .woocommerce-page #content div.product p.price {color: #f2381a; }
html .woocommerce-message  a.button, html .woocommerce-error  a.button, html .woocommerce-info  a.button, html .woocommerce-message, html .woocommerce-error, html .woocommerce-info, html  .woocommerce span.onsale, html  .woocommerce-page span.onsale, html .woocommerce div.product .woocommerce-tabs ul.tabs li.active,html .woocommerce #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li.active, html .woocommerce nav.woocommerce-pagination ul li span.current, html .woocommerce-page nav.woocommerce-pagination ul li span.current, html .woocommercenav.woocommerce-pagination ul li a:hover, html .woocommerce-page nav.woocommerce-pagination ul li a:hover{ color: #ffffff; }
html .woocommerce-info{ background: #389EC5; }
html .woocommerce-error{ background: #C23030; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ background: #f2381a; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ color: #ffffff; }
html .woocommerce a.button.alt:hover, html .woocommerce button.button.alt:hover, html .woocommerce input.button.alt:hover, html .woocommerce #respond input#submit.alt:hover, html .woocommerce #content input.button.alt:hover, html .woocommerce-page a.button.alt:hover, html .woocommerce-page button.button.alt:hover, html .woocommerce-page input.button.alt:hover, html .woocommerce-page #respond input#submit.alt:hover, html .woocommerce-page #content input.button.alt:hover, html .woocommerce a.button.alt, html .woocommerce button.button.alt, html .woocommerce input.button.alt, html .woocommerce #respond input#submit.alt, html .woocommerce #content input.button.alt, html .woocommerce-page a.button.alt, html .woocommerce-page button.button.alt, html .woocommerce-page input.button.alt, html .woocommerce-page #respond input#submit.alt, html .woocommerce-page #content input.button.alt, html .woocommerce a.button, html .woocommerce button.button, html .woocommerce input.button, html .woocommerce #respond input#submit, html .woocommerce #content input.button, html .woocommerce-page a.button, html .woocommerce-page button.button, html .woocommerce-page input.button, html .woocommerce-page #respond input#submit, html .woocommerce-page #content input.button, html .woocommerce a.button:hover, html .woocommerce button.button:hover, html .woocommerce input.button:hover, html .woocommerce #respond input#submit:hover, html .woocommerce #content input.button:hover, html .woocommerce-page a.button:hover, html .woocommerce-page button.button:hover, html .woocommerce-page input.button:hover, html .woocommerce-page #respond input#submit:hover, html .woocommerce-page #content input.button:hover, html .woocommerce ul.products li.product a.loading, html .woocommerce div.product form.cart .button, html .woocommerce #content div.product form.cart .button, html .woocommerce-page div.product form.cart .button, html .woocommerce-page #content div.product form.cart .button{ border-bottom: 3px solid #ba4c16; }
html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar { background: #ebebeb; }html .woocommerce #reviews #comments ol.commentlist li img.avatar, html .woocommerce-page #reviews #comments ol.commentlist li img.avatar,html .woocommerce #reviews #comments ol.commentlist li .comment-text, html .woocommerce-page #reviews #comments ol.commentlist li .comment-text,html .woocommerce ul.products li.product a img, html .woocommerce-page ul.products li.product a img, html .woocommerce ul.products li.product a img:hover ,html .woocommerce-page ul.products li.product a img:hover, html .woocommerce-page div.product div.images img, html .woocommerce-page #content div.product div.images img,html .woocommerce form.login, html .woocommerce form.checkout_coupon, html .woocommerce form.register, html .woocommerce-page form.login,html .woocommerce-page form.checkout_coupon, html .woocommerce-page form.register, html .woocommerce table.cart td.actions .coupon .input-text,html .woocommerce #content table.cart td.actions .coupon .input-text, html .woocommerce-page table.cart td.actions .coupon .input-text,html .woocommerce-page #content table.cart td.actions .coupon .input-text { border: 1px solid #ebebeb; }html .woocommerce div.product .woocommerce-tabs ul.tabs:before, html .woocommerce #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce-page div.product .woocommerce-tabs ul.tabs:before, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs:before,html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th,html .woocommerce-page table.shop_table tfoot td, html .woocommerce-page table.shop_table tfoot th { border-bottom: 1px solid #ebebeb; }html .woocommerce .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce .cart-collaterals .cart_totals table tr:first-child td,html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child th, html .woocommerce-page .cart-collaterals .cart_totals table tr:first-child td { border-top: 3px #ebebeb solid; }html .woocommerce .cart-collaterals .cart_totals tr td, html .woocommerce .cart-collaterals .cart_totals tr th,html .woocommerce-page .cart-collaterals .cart_totals tr td, html .woocommerce-page .cart-collaterals .cart_totals tr th { border-bottom: 2px solid #ebebeb; }
html .woocommerce div.product .woocommerce-tabs ul.tabs li, html .woocommerce #content div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page div.product .woocommerce-tabs ul.tabs li, html .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li ,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove, html .woocommerce-page #content table.cart a.remove, html .woocommerce #payment, html .woocommerce-page #payment, html .woocommerce .customer_details,html .woocommerce ul.order_details, html .woocommerce nav.woocommerce-pagination ul li a, html .woocommerce-page nav.woocommerce-pagination ul li a,html .woocommerce form .form-row input.input-text, html .woocommerce form .form-row textarea, html .woocommerce-page form .form-row input.input-text, html .woocommerce-page form .form-row textarea, html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty,html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { background: #f3f3f3; }html .woocommerce .quantity input.qty, html .woocommerce #content .quantity input.qty, html .woocommerce-page .quantity input.qty, html .woocommerce-page #content .quantity input.qty { border: 1px solid #f3f3f3; }
html .woocommerce .widget_shopping_cart .total, html .woocommerce-page .widget_shopping_cart .total { border-top: 2px solid #e5e5e5; }html .woocommerce table.cart a.remove:hover, html .woocommerce #content table.cart a.remove:hover, html .woocommerce-page table.cart a.remove:hover,html .woocommerce-page #content table.cart a.remove:hover, html #payment div.payment_box, html .woocommerce-page #payment div.payment_box { background: #e5e5e5; }
html .woocommerce table.shop_table tfoot td, html .woocommerce table.shop_table tfoot th, html .woocommerce-page table.shop_table tfoot td,html .woocommerce-page table.shop_table tfoot th, .cart-subtotal th, .shipping th , .total th, html .woocommerce table.shop_attributes .alt th,html .woocommerce-page table.shop_attributes .alt th, html .woocommerce ul.products li.product .price, html.woocommerce-page ul.products li.product .price { color: #333333; }
html .woocommerce ul.products li.product .price del, html .woocommerce-page ul.products li.product .price del,html .woocommerce table.cart a.remove, html .woocommerce #content table.cart a.remove, html .woocommerce-page table.cart a.remove,html .woocommerce-page #content table.cart a.remove { color: #888888; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { border: 1px solid #a0a0a0; }
html .woocommerce .quantity .plus, html .woocommerce .quantity .minus, html .woocommerce #content .quantity .plus, html .woocommerce #content .quantity .minus, 
												html .woocommerce-page .quantity .plus, html .woocommerce-page .quantity .minus, html .woocommerce-page #content .quantity .plus, 
												html .woocommerce-page #content .quantity .minus { color: #ffffff; }
html .woocommerce .quantity .plus, html .woocommerce #content .quantity .plus,  html .woocommerce-page .quantity .plus,html .woocommerce-page #content .quantity .plus, html .woocommerce .quantity .plus:hover, html .woocommerce #content .quantity .plus:hover,html .woocommerce-page .quantity .plus:hover,  html .woocommerce-page #content .quantity .plus:hover{ background: #9a9a9a; }
html .woocommerce .quantity .minus, html .woocommerce #content .quantity .minus,  html .woocommerce-page .quantity .minus,html .woocommerce-page #content .quantity .minus, html .woocommerce .quantity .minus:hover, html .woocommerce #content .quantity .minus:hover,html .woocommerce-page .quantity .minus:hover,  html .woocommerce-page #content .quantity .minus:hover{ background: #b6b6b6; }
.gdlr-skin-dark-skin, .gdlr-skin-dark-skin .gdlr-skin-content{ color: #ffffff; }
.gdlr-skin-dark-skin i, .gdlr-skin-dark-skin .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-dark-skin h1, .gdlr-skin-dark-skin h2, .gdlr-skin-dark-skin h3, .gdlr-skin-dark-skin h4, .gdlr-skin-dark-skin h5, .gdlr-skin-dark-skin h6, .gdlr-skin-dark-skin .gdlr-skin-title, .gdlr-skin-dark-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-skin-info, .gdlr-skin-dark-skin .gdlr-skin-info a, .gdlr-skin-dark-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-dark-skin a, .gdlr-skin-dark-skin .gdlr-skin-link, .gdlr-skin-dark-skin .gdlr-skin-link-color{ color: #ff4c2f; }
.gdlr-skin-dark-skin a:hover, .gdlr-skin-dark-skin .gdlr-skin-link:hover{ color: #ff644c; }
.gdlr-skin-dark-skin .gdlr-skin-box, .gdlr-skin-dark-skin .gdlr-column-service-item .gdlr-skin-box, .gdlr-skin-dark-skin .gdlr-flex-prev, .gdlr-skin-dark-skin .gdlr-flex-next{ background-color: #ffffff; }
.gdlr-skin-dark-skin *, .gdlr-skin-dark-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-dark-skin .gdlr-button, .gdlr-skin-dark-skin .gdlr-button:hover, .gdlr-skin-dark-skin input[type="button"], .gdlr-skin-dark-skin input[type="submit"]{ color: #ffffff; background-color: #ff4c2f;  }
.gdlr-skin-gray-skin, .gdlr-skin-gray-skin .gdlr-skin-content{ color: #6d6d6d; }
.gdlr-skin-gray-skin i, .gdlr-skin-gray-skin .gdlr-flex-prev, .gdlr-skin-gray-skin .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-gray-skin h1, .gdlr-skin-gray-skin h2, .gdlr-skin-gray-skin h3, .gdlr-skin-gray-skin h4, .gdlr-skin-gray-skin h5, .gdlr-skin-gray-skin h6, .gdlr-skin-gray-skin .gdlr-skin-title, .gdlr-skin-gray-skin .gdlr-skin-title a{ color: #212121; }
.gdlr-skin-gray-skin .gdlr-skin-title a:hover{ color: #727272; }
.gdlr-skin-gray-skin .gdlr-skin-info, .gdlr-skin-gray-skin .gdlr-skin-info a, .gdlr-skin-gray-skin .gdlr-skin-info a:hover{ color: #777777; }
.gdlr-skin-gray-skin a, .gdlr-skin-gray-skin .gdlr-skin-link, .gdlr-skin-gray-skin .gdlr-skin-link-color{ color: #444444; }
.gdlr-skin-gray-skin a:hover, .gdlr-skin-gray-skin .gdlr-skin-link:hover{ color: #606060; }
.gdlr-skin-gray-skin .gdlr-skin-box, .gdlr-skin-gray-skin .gdlr-column-service-item .gdlr-skin-box, .gdlr-skin-gray-skin .gdlr-flex-prev, .gdlr-skin-gray-skin .gdlr-flex-next{ background-color: #ffffff; }
.gdlr-skin-gray-skin *, .gdlr-skin-gray-skin .gdlr-skin-border{ border-color: #a72510; }
.gdlr-skin-gray-skin .gdlr-button, .gdlr-skin-gray-skin .gdlr-button:hover, .gdlr-skin-gray-skin input[type="button"], .gdlr-skin-gray-skin input[type="submit"]{ color: #ffffff; background-color: #f62b0a;  }
.gdlr-skin-orange-skin, .gdlr-skin-orange-skin .gdlr-skin-content{ color: #777777; }
.gdlr-skin-orange-skin i, .gdlr-skin-orange-skin .gdlr-flex-prev, .gdlr-skin-orange-skin .gdlr-flex-next{ color: #424242; }
.gdlr-skin-orange-skin h1, .gdlr-skin-orange-skin h2, .gdlr-skin-orange-skin h3, .gdlr-skin-orange-skin h4, .gdlr-skin-orange-skin h5, .gdlr-skin-orange-skin h6, .gdlr-skin-orange-skin .gdlr-skin-title, .gdlr-skin-orange-skin .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-orange-skin .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-orange-skin .gdlr-skin-info, .gdlr-skin-orange-skin .gdlr-skin-info a, .gdlr-skin-orange-skin .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-orange-skin a, .gdlr-skin-orange-skin .gdlr-skin-link, .gdlr-skin-orange-skin .gdlr-skin-link-color{ color: #ff4c2f; }
.gdlr-skin-orange-skin a:hover, .gdlr-skin-orange-skin .gdlr-skin-link:hover{ color: #ff4c2f; }
.gdlr-skin-orange-skin .gdlr-skin-box, .gdlr-skin-orange-skin .gdlr-column-service-item .gdlr-skin-box, .gdlr-skin-orange-skin .gdlr-flex-prev, .gdlr-skin-orange-skin .gdlr-flex-next{ background-color: #ffffff; }
.gdlr-skin-orange-skin *, .gdlr-skin-orange-skin .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-orange-skin .gdlr-button, .gdlr-skin-orange-skin .gdlr-button:hover, .gdlr-skin-orange-skin input[type="button"], .gdlr-skin-orange-skin input[type="submit"]{ color: #ffffff; background-color: #ffffff;  }
.gdlr-skin-stunning-text, .gdlr-skin-stunning-text .gdlr-skin-content{ color: #b5b5b5; }
.gdlr-skin-stunning-text i, .gdlr-skin-stunning-text .gdlr-flex-prev, .gdlr-skin-stunning-text .gdlr-flex-next{ color: #ffffff; }
.gdlr-skin-stunning-text h1, .gdlr-skin-stunning-text h2, .gdlr-skin-stunning-text h3, .gdlr-skin-stunning-text h4, .gdlr-skin-stunning-text h5, .gdlr-skin-stunning-text h6, .gdlr-skin-stunning-text .gdlr-skin-title, .gdlr-skin-stunning-text .gdlr-skin-title a{ color: #ffffff; }
.gdlr-skin-stunning-text .gdlr-skin-title a:hover{ color: #ffffff; }
.gdlr-skin-stunning-text .gdlr-skin-info, .gdlr-skin-stunning-text .gdlr-skin-info a, .gdlr-skin-stunning-text .gdlr-skin-info a:hover{ color: #ffffff; }
.gdlr-skin-stunning-text a, .gdlr-skin-stunning-text .gdlr-skin-link, .gdlr-skin-stunning-text .gdlr-skin-link-color{ color: #d6d6d6; }
.gdlr-skin-stunning-text a:hover, .gdlr-skin-stunning-text .gdlr-skin-link:hover{ color: #a5a5a5; }
.gdlr-skin-stunning-text .gdlr-skin-box, .gdlr-skin-stunning-text .gdlr-column-service-item .gdlr-skin-box, .gdlr-skin-stunning-text .gdlr-flex-prev, .gdlr-skin-stunning-text .gdlr-flex-next{ background-color: #ffffff; }
.gdlr-skin-stunning-text *, .gdlr-skin-stunning-text .gdlr-skin-border{ border-color: #ffffff; }
.gdlr-skin-stunning-text .gdlr-button, .gdlr-skin-stunning-text .gdlr-button:hover, .gdlr-skin-stunning-text input[type="button"], .gdlr-skin-stunning-text input[type="submit"]{ color: #ffffff; background-color: #f6290e;  }
